.time-table {
	display: block;
	width: 100%;
	max-width: 500px;
	border-top: 1px solid black;
	background-color: darkblue;
	user-select: none;
}
.row {
	color: #f5deb3;
	padding: 0.8em;
	font-size: 0.7em;
	user-select: none;
}
.active-class {
	background-color: rgb(41, 145, 145);
}
