.time-table {
	display: block;
	width: 100%;
	max-width: 500px;
	padding-left: 1em;
	border-top: 1px solid black;
	background-color: darkblue;
	user-select: none;
	color: white;
}
.active-class {
	background-color: rgb(41, 145, 145);
}
