<app-base-slide-dowm (closeEmit)="this.closeEmit.emit(null)">
	<div>
		<select [(ngModel)]="selectedServiceType">
			<option value="" disabled>Choose a Category</option>
			<option *ngFor="let c of serviceTypes" [ngValue]="c">
				{{ c.name }}
			</option>
		</select>
	</div>
	<form [formGroup]="serviceInfoForm">
		<div class="example-full-width">
			<label>Name</label>
			<input type="text" formControlName="name" />
		</div>
		<div class="example-full-width">
			<label>Duration time</label>
			<input type="number" formControlName="durationTime" />
		</div>
		<div class="example-full-width">
			<label>Cost</label>
			<input type="number" formControlName="cost" />
		</div>
		<button (click)="saveService()">Add type</button>
	</form>
	<form [formGroup]="serviceTypeInfoGroup">
		<div class="example-full-width">
			<label>Name</label>
			<input type="text" formControlName="name" />
		</div>
		<button (click)="saveServiceType()">Add type</button>
	</form>
	<div class="button-group">
		<button (click)="saveServiceType()">Add new...</button>
	</div>
	<div class="btn-group-vertical">
		<button
			*ngFor="let type of serviceTypes"
			class="btn btn-secondary"
			(click)="openEditPage(type)"
		>
			{{ type.name }}
		</button>
		<!-- <div *ngIf="type.id === selectedServiceType.id">
				<p>{{ type.name }}</p>
			</div> -->
	</div>
</app-base-slide-dowm>
