.simple-line {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	display: flex;
	height: 0.5em;
	border: 1px solid grey;
	border-radius: 1em;
	background-color: grey;
}

.simple-line-active {
	padding: 5px 5px;
	display: flex;
	width: 40%;
	border-radius: 100px;
	transition: all 0.5s;
}

.slide-block {
	background-color: rgb(196, 196, 196);
	padding: 5%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	overflow-y: scroll;
	box-shadow: 0px 0px 10px 1px grey;
	position: absolute;
	bottom: 4em;
	top: 6.5%;
	left: 0%;
	right: 0%;
}

.slideUp {
	animation-name: slideUp;

	animation-duration: 0.4s;

	animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(200%);
	}
	100% {
		transform: translateY(0%);
	}
}

.slideDown {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}
