.modal-schedule {
	position: fixed;
	top: 20%;
	left: 2%;
	right: 2%;
	bottom: 5em;
	background-color: rgb(196, 196, 196);
	padding: 5%;
	border-radius: 1em;
	& .field {
		width: 100%;
		& * {
			width: 100%;
			height: 2em;
		}
	}
	& .action-block {
		display: flex;
		width: 100%;
		margin-top: 1em;
		justify-content: space-between;
		& > * {
			width: 49%;
		}
	}
}
