<form
	@leftSlideAbsoluteAnimation
	@hideBlockAnimation
	class="modal-schedule"
	action=""
>
	<div class="field">
		<label>Time</label>
		<input />
	</div>
	<div class="field">
		<label>Date</label>
		<input />
	</div>
	<hr />
	<div class="field">
		<label>Employee</label>
		<select>
			<option>Empl1</option>
		</select>
	</div>
	<div class="field">
		<label>Client</label>
		<select>
			<option>Cl1</option>
		</select>
	</div>
	<div class="action-block">
		<button mat-raised-button (click)="close($event)">Save</button>
		<button mat-raised-button (click)="close($event)">Close</button>
	</div>
</form>
