<form [formGroup]="userInfoForm" class="form" novalidate>
	<div class="input-fields">
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Name</mat-label>
			<input type="text" formControlName="Name" matInput />
		</mat-form-field>
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Telephone</mat-label>
			<span matPrefix>+380 &nbsp;</span>
			<input
				type="tel"
				formControlName="Phone"
				matInput
				placeholder="555-555-1234"
			/>
			<mat-icon matSuffix>UA</mat-icon>
		</mat-form-field>
		<button (click)="saveUser()" mat-raised-button class="save-btn">
			Save
		</button>
	</div>
</form>
