<form
	#someVar
	[formGroup]="userInfoForm"
	class="form formClass slideUp"
	novalidate
>
	<input
		#someBtn
		(touchmove)="touchmove($event)"
		(touchend)="touchend($event)"
		(touchstart)="touchstart($event)"
		type="button"
		class="simple-line"
	/>
	<button
		*ngIf="!isAddMode"
		(click)="isAddMode = true"
		mat-raised-button
		class="save-btn"
	>
		Add
	</button>
	<div *ngIf="isAddMode" class="input-fields fadeIn">
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Name</mat-label>
			<input type="text" formControlName="Name" matInput />
		</mat-form-field>
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Telephone</mat-label>
			<span matPrefix>+380 &nbsp;</span>
			<input
				type="tel"
				formControlName="Phone"
				matInput
				placeholder="555-555-1234"
			/>
			<mat-icon matSuffix>UA</mat-icon>
		</mat-form-field>
		<button (click)="saveUser()" mat-raised-button class="save-btn">
			Save
		</button>
		<button (click)="isAddMode = false" mat-raised-button class="save-btn">
			Back
		</button>
		<button (click)="show()" mat-raised-button class="save-btn">
			Show
		</button>
	</div>
	<table
		mat-table
		[dataSource]="dataSource"
		multiTemplateDataRows
		class="mat-elevation-z8 mytable"
	>
		<ng-container
			matColumnDef="{{ column }}"
			*ngFor="let column of columnsToDisplay"
		>
			<th mat-header-cell *matHeaderCellDef>{{ column }}</th>
			<td mat-cell *matCellDef="let element">
				{{ element[column] }}
			</td>
		</ng-container>
		<ng-container matColumnDef="expand">
			<th mat-header-cell *matHeaderCellDef aria-label="row actions">
				&nbsp;
			</th>
			<td mat-cell *matCellDef="let element">
				<button
					mat-icon-button
					aria-label="expand row"
					(click)="
						expandedElement =
							expandedElement === element ? null : element;
						$event.stopPropagation()
					"
				>
					<mat-icon *ngIf="expandedElement !== element"
						>keyboard_arrow_down</mat-icon
					>
					<mat-icon *ngIf="expandedElement === element"
						>keyboard_arrow_up</mat-icon
					>
				</button>
			</td>
		</ng-container>

		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td
				mat-cell
				*matCellDef="let element"
				[attr.colspan]="columnsToDisplayWithExpand.length"
			>
				<div
					class="example-element-detail"
					[@detailExpand]="
						element == expandedElement ? 'expanded' : 'collapsed'
					"
				>
					<div class="example-element-diagram">
						<div class="example-element-position">
							{{ element.position }}
						</div>
						<div class="example-element-symbol">
							{{ element.symbol }}
						</div>
						<div class="example-element-name">
							{{ element.name }}
						</div>
						<div class="example-element-weight">
							{{ element.weight }}
						</div>
					</div>
					<div class="example-element-description">
						{{ element.phone }}
						<span class="example-element-description-attribution">
						</span>
					</div>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
		<tr
			mat-row
			*matRowDef="let element; columns: columnsToDisplayWithExpand"
			class="example-element-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="
				expandedElement = expandedElement === element ? null : element
			"
		></tr>
		<tr
			mat-row
			*matRowDef="let row; columns: ['expandedDetail']"
			class="example-detail-row"
		></tr>
	</table>
</form>
