<app-base-slide-dowm (closeEmit)="this.closeEmit.emit(null)">
	<form [formGroup]="userInfoForm">
		<button *ngIf="!isAddMode" (click)="isAddMode = true" class="save-btn">
			Add
		</button>
		<div #someDiv *ngIf="isAddMode" class="input-fields" @pullDownAnimation>
			<div class="example-full-width">
				<label>Name</label>
				<input type="text" formControlName="Name" />
			</div>
			<div class="example-full-width">
				<label>Telephone</label>
				<span matPrefix>+380 &nbsp;</span>
				<input
					type="tel"
					formControlName="Phone"
					matInput
					placeholder="555-555-1234"
				/>
			</div>
			<button (click)="saveUser()" class="save-btn btnColor">Save</button>
			<button (click)="isAddMode = false" class="save-btn btnColor">
				Close
			</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Имя</td>
					<td>Телефон</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td>{{ user.name }}</td>
					<td>{{ user.phone }}</td>
					<td>
						<input
							type="button"
							value="Изменить"
							(click)="editUser(user)"
							class="btn btn-default"
						/>
					</td>
					<td>
						<input
							type="button"
							value="Удалить"
							class="btn btn-danger"
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</app-base-slide-dowm>
